[submodule "Broccoli/vendor/spdlog"]
	path = Broccoli/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Broccoli/vendor/glfw"]
	path = Broccoli/vendor/glfw
	url = https://github.com/tross2552/glfw.git
[submodule "Broccoli/vendor/imgui"]
	path = Broccoli/vendor/imgui
	url = https://github.com/tross2552/imgui.git
